<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.its.member.domain.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.its.member.domain.entity.User">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="USER_ID" jdbcType="INTEGER" property="userId" />
    <result column="MOBILE" jdbcType="VARCHAR" property="mobile" />
    <result column="EMAIL" jdbcType="VARCHAR" property="email" />
    <result column="PASSWORD" jdbcType="VARCHAR" property="password" />
    <result column="USER_NAME" jdbcType="VARCHAR" property="userName" />
    <result column="SEX" jdbcType="BIT" property="sex" />
    <result column="AGE" jdbcType="TINYINT" property="age" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="IS_AVALIBLE" jdbcType="BIT" property="isAvalible" />
    <result column="PIC_IMG" jdbcType="VARCHAR" property="picImg" />
    <result column="QQ_OPENID" jdbcType="VARCHAR" property="qqOpenid" />
    <result column="WX_OPENID" jdbcType="VARCHAR" property="wxOpenid" />
  </resultMap>
  <select id="selectByMobileAndPassword" resultMap="BaseResultMap">
    SELECT *  FROM its_user WHERE MOBILE=#{mobile} AND PASSWORD=#{password} AND  IS_AVALIBLE = 0;
  </select>
</mapper>